*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrap{
  width: 100vw;
  height: 100vh;
  background-color: #DADBD5;
}

.center{
  vertical-align: middle;
  margin-top: 30px;
}

.green-banner{
  width: 100vw;
  height: 150px;
  background-color: #009788;
}

.box-general{
  width: 1600px;
  height: 100%;
  background-color: #FFFFFF;
  position: absolute;
  top: 50px;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  display: flex;
}

.column-1{
  width: 500px;
  height: 100%;
}

.column-2{
  width: 100%;
  height: 100%;
}

.box-profile{
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


.boolzap-image{
  border-radius: 50%;
  width: 60px;
  vertical-align: center;
  position: relative;
  margin-left: 10px;
  top: 50%;
  transform: translate(0%, -50%);

}

.box-profile-right{
  line-height: 105px;
}

.box-contacts{
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
}

.notifiche{
  background-color: #8DDAFC;
  vertical-align: center;
  display: flex;

}

.circle{
  border-radius: 50%;
  color: white;
}

.underLine{
  text-decoration: underline;
  font-size: 12px;
}

.box-contact-chose{
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-profile-chose{
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
