<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/35b3b34844.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title></title>
  </head>
  <body>
    <div id="root" class="center">
      <div class="wrap">
        <div class="green-banner">
        </div>
        <div class="box-general">
         <div class="column-1">
           <div class="box-profile">
             <div class="box-profile-left">
               <span><img src="img/avatar_7.jpg" class="boolzap-image" alt=""></span>
               <span class="nomeUtente">Sebastiano Lanfranchi</span>
             </div>
             <div class="box-profile-right">
               <span><i class="fas fa-circle-notch fa-2x"></i></span>
               <span><i class="far fa-comment-alt fa-2x"></i></span>
               <span><i class="fas fa-ellipsis-v fa-2x"></i></span>
             </div>
           </div>
           <div class="notifiche">
             <span class="circle"><i class="far fa-bell-slash fa-2x"></i></span>
            <div class="">
              <div>
                Ricevi notifiche di nuovi messaggi
              </div>
              <div class="underLine">
                Attiva notifiche desktop
              </div>
            </div>
           </div>
           <div v-for="(contact, index) in contacts" class="box-contacts" @click="chooser(index)" >
             <img :src="contact.avatar" alt="" class="boolzap-image">
             <span class="vertical-align">{{contact.name}}</span>
           </div>
         </div>
         <div class="column-2 background">
           <div class="box-contact-chose">
             <div class="box-profile-chose">
               <div><img :src="contacts[indexContact].avatar" class="boolzap-image" alt=""></div>
               <span class="center">
                 <div class="">
                   {{contacts[indexContact].name}}
                 </div>
                 <div class="">
                   ultimo accesso oggi alle {{contacts[indexContact].messages.date}}
                 </div>
               </span>
             </div>
             <div class="box-profile-right">
               <span><i class="fas fa-circle-notch fa-2x"></i></span>
               <span><i class="far fa-comment-alt fa-2x"></i></span>
               <span><i class="fas fa-ellipsis-v fa-2x"></i></span>
             </div>
           </div>
           <div class="flex">
             <div v-for="message in contacts[indexContact].messages"
             :class="{
               baloon: true,
               received: (message.status === 'received'),
               sent: (message.status === 'sent')
             }">
             {{message.text}}
             </div>
           </div>
         </div>
        </div>
      </div>
      <script src="js/script.js"></script>
    </div>
  </body>
</html>
